<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill of Lading</title>
</head>

<body style="font-family: 'Times New Roman', serif; margin: 0; padding: 10px; font-size: 10pt;">
    <table style="border: none; border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td colspan="4" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Shipper:</p>
                </td>
                <td colspan="3" rowspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">B/L NO:</p>
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">********************</p>
                </td>
            </tr>
            
            <tr>
                <td colspan="4" rowspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Consignee:</p>
                </td>
            </tr>
            
            <tr>
                <td colspan="3" rowspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                </td>
            </tr>
            
            <tr>
                <td colspan="4" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Notify Party:</p>
                </td>
            </tr>
            
            <tr>
                <td colspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Vessel/Voyage No.:</p>
                </td>
                <td colspan="4" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Port of Loading:</p>
                </td>
                <td rowspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                </td>
            </tr>
            
            <tr>
                <td colspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Port of Discharge:</p>
                </td>
                <td colspan="4" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Place of Delivery</p>
                </td>
            </tr>
            
            <tr>
                <td style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Marks:</p>
                </td>
                <td colspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">No of Containers of Pkgs:</p>
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">XXXX BAGS</p>
                </td>
                <td colspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Gross Weight/Code:</p>
                    <p style="font-size: 12pt; font-weight: bold; margin: 0; text-align: right;">XXXXX.XX kgs</p>
                </td>
                <td colspan="2" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">Measurement/Code:</p>
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">XXX.XXX cu. m</p>
                </td>
            </tr>
            
            <tr>
                <td style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 12pt; font-weight: bold; margin: 0;">N/M</p>
                </td>
                <td colspan="6" style="border: solid #000000 0.5pt; padding: 12px; vertical-align: top; min-height: 60px;">
                    <p style="font-size: 10pt; margin: 0;">{{product_description}}<br>
                    100% WATER SOLUBLE FERTILIZER AS PER INDIAN FCO FOR AGRICULTURAL USE ONLY</p>
                    <p style="font-size: 10pt; margin: 0;">UN:1486 CLASS:5.1</p>
                    <p style="font-size: 10pt; margin: 0;">HS CODE: {{hs_code}}<br>
                    NET WEIGHT – XXXXX.XX KGS</p>
                    <p style="font-size: 10pt; margin: 0;">FREIGHT PREPAID</p>
                    <p style="font-size: 10pt; margin: 0;">SHIPPED ON BOARD.</p>
                    <p style="font-size: 10pt; margin: 0;">14 DAYS FREE DETENTION ALLOWED AT PORT OF DISCHARGE</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>