<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LC</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 10pt;"></body>
<p>&nbsp;</p>
<div style="color: rgb(147, 16, 16); font-family: Arial, sans-serif;">
  <p>ADDENDUM TO DEED OF ASSIGNMENT</p>
  <p>This ADDENDUM is dated 24th day of March 2025 between</p>

  <ol>
    <li>
      <p>AGRIFIELD DMCC, a Free Zone company incorporated and licensed at Dubai, UAE with its registered address at
        Office 3201, JBC 4, Cluster N, JLT, Dubai, UAE (the “Assignor”); and</p>
    </li>
    <li>
      <p>ICICI BANK LIMITED (DIFC BRANCH), a company incorporated under the Companies Act, 1956 and a banking company
        within the meaning of the Banking Regulation Act 1949 and having its Registered Office at ICICI Bank Tower, Near
        Chakli Circle, Old Padra Road, Vadodara, 390 007, Gujarat, India and acting through its office at Central Park
        Building, Level 27, Office Tower 27-31, Dubai International Financial Centre, P.O. Box 506529, Dubai, UAE (the
        "Assignee").</p>
    </li>
  </ol>

  <p>BACKGROUND:</p>

  <p>This Addendum is entered into pursuant to Clause 3.5 of the Agreement (as defined below). </p>

  <p>IT IS AGREED as follows:</p>

  <p><strong>1. Definitions and Construction</strong> </p>

  <p><strong>1.1 Definitions in this Addendum</strong></p>

  <p><strong>"Agreement"</strong> means this assignment of receivables agreement entered into between the Assignor and
    the Assignee.</p>

  <p><strong>"Additional Receivables"</strong> means the receivables assigned by this addendum and which are more
    particularly described in Appendix 1 and which constitute part of the Receivables for the purposes of the Agreement.
  </p>

  <p><strong>1.2 Construction</strong></p>

  <p>Capitalised terms defined in the Agreement shall have the same meaning in this Addendum unless expressly defined in
    this Addendum or the context otherwise requires.</p>

  <p><strong>2. Additional Receivables</strong></p>

  <p>The Assignor hereby assigns to the Assignee all of the Assignor's right, title and interest from time to time in
    and to the Additional Receivables including any security or remedies thereof (but none of the Assignor's obligations
    or liabilities thereunder) as the same may be amended, supplemented, varied, novated or replaced from time to time
    and, from the date of execution of this Addendum by the Assignor, the Additional Receivables shall be subject to the
    provisions relating to assignment of the Receivables contained in the Agreement as if they had been expressly
    included in the definition of Receivables.</p>
  <p><strong>3.Representations and Warranties</strong></p>
  <p>The Assignor, as at the date of this Addendum, repeats the representations and warranties set out in Clause 5.1 of
    the Agreement to the Assignee.</p>
  <p><strong>4. Other provisions</strong></p>
  <p>The provisions of the Agreement shall apply to this Addendum as if fully set out in this Addendum (mutatis
    mutandis) and the Assignor confirms that all the terms and conditions of the Agreement continue in full force and
    effect.</p>
  <p><strong>5. Governing law </strong></p>
  <p>This Addendum and any non-contractual obligations arising out of or in connection with it shall be governed by
    English laws.</p>
  <p><strong>6. Jurisdiction</strong></p>
  <p>6.1 The Assignor irrevocably agrees for the benefit of the Assignee that the UAE courts shall have jurisdiction to
    hear and determine any suit, action or proceeding and to settle any disputes, which may arise out of or in
    connection with this Addendum (respectively <strong>Proceedings and Disputes</strong>) and, for such purposes,
    irrevocably submits to the jurisdiction of such courts.</p>
  <p>6.2 The Assignor irrevocably waives any objection which it might now or hereafter have to the DIFC courts being
    nominated as the forum to hear and determine any Proceedings and to settle any Disputes and agrees not to claim that
    any such court is not a convenient and appropriate forum.</p>
  <p>6.3 The submission to the jurisdiction of the DIFC courts shall not (and shall not be construed so as to) limit the
    right of the Assignee to take Proceedings against the Assignor in any other court of competent jurisdiction nor
    shall the taking of Proceedings in any one or more jurisdictions preclude the taking of Proceedings by the Assignee
    in any other jurisdiction (whether concurrently or not) if and to the extent permitted by applicable law.</p>
  <p>6.4 The Assignor irrevocably and unconditionally:</p>
  <ol>
    <li value="6.">
      4.1 agrees not to claim any immunity from proceedings brought by the Assignor in relation to this Addendum and to
      ensure that no such claim is made on its behalf;
    </li>
    <li value="6.">
      4.2 consents generally to the giving of any relief or the issue of any process in connection with those
      proceedings; and
    </li>
    <li value="6.">
      4.3 waives all rights of immunity in respect of it or its assets.
    </li>
  </ol>

  <h3 style="text-align: center; font-size: 11pt; margin-top: 9.5px;">APPENDIX 1</h3>

  <h3 style="text-align: center; font-size: 11pt; margin-top: 9.5px;">ADDITIONAL CONTRACTS / ADDITIONAL RECEIVABLES</h3>

  <p>LC NO.: <b style="color: #230dea;"> {{exportLC.number}}</b></p>

  <p>LC ISSUANCE DATE:<b style="color: #230dea;"> {{exportLC.issuanceDate}}</b> </p>

  <p>LC ISSUING BANK:<b style="color: #230dea;"> {{exportLC.issuingBank}}</b></p>

  <p>LC APPLICANT NAME:<b style="color: #230dea;"> {{exportLC.applicant}}</b></p>

  <div style="font-family: Arial, sans-serif;">
    <h3 style="margin-bottom:20px;">SIGNATURE TO ADDENDUM</h3>

    <table style="width:100%; margin-bottom:35px;">
      <tr>
        <td style="width:50%; vertical-align:top;">
          <strong>Signed by</strong><br>
          as duly authorised<br>
          for and on behalf of<br>
          <strong>AGRIFIELD DMCC</strong><br>
          in the presence of:<br><br>
          signature <br>of witness <span
            style="display:inline-block; width:120px; border-bottom: 1px dotted #000;"></span><br>
          name&nbsp;&nbsp;Vishal Bissa<br>
          <span style="margin-left:55px; display:inline-block; border-bottom: 1px dotted #000; width:120px;">print name
            of witness</span><br>
          address&nbsp;&nbsp;Dubai, UAE
        </td>
        <td style="width:50%; vertical-align:top;">
          <span style="margin-left:40px;">--------------------------------------------<br>
            signature</span><br><br>
          Akshat Kapoor<br>
          <span style="margin-left:40px;">--------------------------------------------<br>
            print name</span>
        </td>
      </tr>
    </table>

    <table style="width:100%;">
      <tr>
        <td style="width:50%; vertical-align:top;">
          <strong>Signed by</strong><br>
          as duly authorised<br>
          for and on behalf of<br>
          <strong>ICICI Bank Limited (DIFC Branch)</strong><br>
          in the presence of:<br><br>
          signature of witness <span
            style="display:inline-block; width:120px; border-bottom: 1px dotted #000;"></span><br>
          name<br>
          <span style="margin-left:55px; display:inline-block; border-bottom: 1px dotted #000; width:120px;">print name
            of witness</span><br>
          address
        </td>
        <td style="width:50%; vertical-align:top;">
          <span style="margin-left:40px;">--------------------------------------------<br>
            signature</span><br><br>
          <span style="margin-left:40px;">--------------------------------------------<br>
            print name</span>
        </td>
      </tr>
    </table>
  </div>

</div>
</body>

</html>