<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LC</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 10pt;">
  <p>&nbsp;</p>
  <table style="width:100%; border-collapse:collapse;border:none; margin-top: 25px;">
    <tr>
      <td style="width:50%; vertical-align:top; text-align:left; border:none; padding:5px;">
        <img src="https://test.istakapaza.com/users/image?item=newblob1753095306189" width="140" height="40" /><br>
        TEL: +971 4 2766391<br>
        FAX: +971 4 2766032<br>
        EMAIL: naj@agrifields.com
      </td>

      <td style="width:50%; vertical-align:top; text-align:right; border:none; padding:5px;">
        <strong>AGRIFIELDS DMCC</strong><br>
        JBC 4, UNIT 3201, CLUSTER N<br>
        JUMEIRAH LAKE TOWERS<br>
        DUBAI. <strong>U.A.E.</strong>
      </td>
    </tr>
  </table>

  <p>Date: 22.01.2025</p>
  <p>The Manager </p>
  <p>HDFC Bank</p>
  <p>Bahrain Branch</p>
  <p>Dear Sir,</p>
  <p style="text-align: center;">Re: Amendment to the LC no. {{importLC.number}}</p>
  <br>
  <p>Request you to please make amendment to the LC no {{importLC.number}} issued on {{importLC.issuanceDate}} as per below:</p>

  <ol>
    <li>
      <p>Field 31D: To read as “250129UAE” I/O Existing</p>
    </li>
    <li>
      <p>Field 48: To Read as “19/DAYS FROM DATE OF SHIPMENT” I/O Existing.</p>
    </li>
  </ol>

  <br>

  <p>Thank You.</p>
  <p>Yours faithfully,</p>
  <br>
  <p>Authorised Signatory</p>
  <p>For Agrifields DMCC</p>
</body>

</html>