<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LC</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 10pt;">
  <p>&nbsp;</p>
  <table style="color: #990000; width:100%; border-collapse:collapse;border:none; margin-top: 25px;">
    <tr>
      <td style="width:50%; vertical-align:top; text-align:left; border:none; padding:5px;">
        <img src="https://test.istakapaza.com/users/image?item=newblob1753095306189" width="140" height="40" /><br>
        TEL: +971 4 2766391<br>
        FAX: +971 4 2766032<br>
        EMAIL: naj@agrifields.com
      </td>

      <td style="color: #990000; width:50%; vertical-align:top; text-align:right; border:none; padding:5px;">
        <strong>AGRIFIELDS DMCC</strong><br>
        JBC 4, UNIT 3201, CLUSTER N<br>
        JUMEIRAH LAKE TOWERS<br>
        DUBAI. <strong>U.A.E.</strong>
      </td>
    </tr>
  </table>

  <p style="color: #990000;">Request letter for adding confirmation to an export LC </p>

  <p style="color: #990000;">Date: 24.03.2025</p>

  <p style="color: #990000;">To</p>

  <p style="color: #990000;">ICICI Bank Ltd.,</p>

  <p style="color: #990000;">DIFC Branch <br>
    Central Park Building, Office Tower 27-31, <br>
    Level 27, Sheikh Zayed Road, P.O. Box 506529, <br>
    DIFC, Dubai, UAE</p>

  <p style="color: #990000;">Dear Sir/Madam,</p>

  <p style="color: #990000;">Sub: Request for adding confirmation to the Export Letter of Credit (LC) No.<b
      style="color: #230dea;"> {{exportLC.number}}.</b></p>

  <p style="color: #990000;">We Agrifields DMCC hereby request you to kindly add your confirmation to the LC thereof.
  </p>

  <ol style="color: #990000;">
    <li>Export LC number /other bank’s export LC reference number (if LC is not advised through ICICI Bank Ltd.):<b
        style="color: #230dea;"> {{exportLC.number}}</b></li>
    <li>LC issuance date & amount :<b style="color: #230dea;"> {{exportLC.issuanceDate}} AND USD {{exportLC.amount}}</b></li>
    <li>Issuing bank’s name & address :<b style="color: #230dea;"> {{exportLC.issuingBank}}</b></li>
    <li>Advising bank’s name & address (if LC is not advised through ICICI Bank Ltd.)*</li>
  </ol>

  <p style="color: #990000;">Enclosed please find original LC herewith.</p>

  <p style="color: #990000;">We confirm that ICICI Bank shall have full recourse against us in the event of non-payment
    by the Issuing Bank on account of any fraud, forgery, commercial dispute or any order from legal authority
    restraining payment to ICICI Bank. We understand and acknowledge that ICICI Bank has the right to refuse to confirm
    the LC at its sole discretion.
  </p>

  <p style="color: #990000;">We authorize you to debit our account no. 891000040147 held with DIFC branch for all the
    charges towards confirmation of this LC</p>

  <p style="color: #990000;">Yours faithfully,</p>
  <br>
  <br>

  <p style="color: #990000;">(Signature of Authorised Official)</p>

</body>

</html>