<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LC</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 10pt;">
  <p>&nbsp;</p>
  <table style="width:100%; border-collapse:collapse;border:none; margin-top: 25px;">
    <tr>
      <td style="width:50%; vertical-align:top; text-align:left; border:none; padding:5px;">
        <img src="https://test.istakapaza.com/users/image?item=newblob1753095306189" width="140" height="40" /><br>
        TEL: +971 4 2766391<br>
        FAX: +971 4 2766032<br>
        EMAIL: naj@agrifields.com
      </td>

      <td style="width:50%; vertical-align:top; text-align:right; border:none; padding:5px;">
        <strong>AGRIFIELDS DMCC</strong><br>
        JBC 4, UNIT 3201, CLUSTER N<br>
        JUMEIRAH LAKE TOWERS<br>
        DUBAI. <strong>U.A.E.</strong>
      </td>
    </tr>
  </table>

  <h4 style="color: #990000;">Schedule 1 NOTICE OF ASSIGNMENT</h4>

  <p style="color: #230dea;">To: {{exportLC.issuingBank}}</p>

  <p style="color: #990000;">Copy: ICICI Bank Limited (DIFC Branch) as Assignee</p>

  <p style="color: #990000;">Ref: LC NO: <o style="color: #230dea;">{{exportLC.number}} ISSUED BY {{exportLC.issuingBank}}.</o></p>

  <p style="color: #990000;">Date: 24.03.2025</p>

  <p style="color: #990000;">Dear Sirs,</p>

  <ol style="color: #990000;">
    <li>
      <p>We hereby give you notice that we have assigned to ICICI Bank Limited (DIFC Branch) (the Assignee) pursuant to
        an agreement dated 23.09.2019 (the Agreement) entered into by us in favour of the Assignee, all of our rights,
        title and interest to the Receivables.</p>
    </li>
    <li>
      <p>We will remain liable under the Parent LC to perform all obligations imposed on us under the Parent LC and none
        of the Assignee, its agents, any receiver, administrator or any other person will at any time be under any
        obligation or liability whatsoever to you under or in respect of the Parent LC.</p>
    </li>
    <li>
      <p>You are authorised and instructed (without requiring further approval from us) to provide the Assignee with
        such information relating to the Parent LC as it may from time to time request.</p>
    </li>
    <li>
      <p>You need not be concerned to enquire whether any power which the Assignee, its agents, any receiver,
        administrator or any other person purports to exercise has become exercisable or as to how any money paid to the
        Assignee is to be applied.</p>
    </li>
    <li>
      <p>These instructions may not be revoked without the prior written consent of the Assignee.</p>
    </li>
    <li>
      <p>Please sign and return the enclosed copy of this notice to the Assignee (with a copy to us) to confirm (by way
        of undertaking in favour of the Assignee) that:</p>
      <ol>
        <li>
          <p> you agree to the terms of this notice and to act in accordance with its provisions;</p>
        </li>
        <li>
          <p> you consent to the assignment under the Agreement and confirm that you shall continue to deal with us with
            respect to obligations under the Parent LC;</p>
        </li>
        <li>
          <p>you acknowledge and agree that upon receipt of an Enforcement Notice by you , all Receivables will be duly
            assigned by us to the Assignee and you shall raise no objection to such assignment and that all Receivables
            shall, from the date of this Enforcement Notice, be paid to the Assignee into the following account: <br>
            A/C NO: 36949939 WITH CITIBANK N.A. SWIFT: CITIUS33<br>
            OUR SWIFT CODE: ICICAEADGTS</p>
        </li>
        <li>
          <p>you agree that upon receipt of an Enforcement Notice all the rights, title and interest that are vested in
            ourselves in relation to the Receivables shall vest in the Assignee and shall be executable by the Assignee
            to the exclusion of ourselves;</p>
        </li>
        <li>
          <p>you have not and will not claim, exercise or enforce any right of set-off, counterclaim or similar right in
            respect of the Receivables without the consent of the Assignee;</p>
        </li>
        <li>
          <p>you have not received notice of the interest of any third party with respect to the Receivables; and</p>
        </li>
        <li>
          <p>you will notify the Assignee of any breach by us of the terms of the Parent LC and will allow the Assignee
            referred to in this notice to remedy that breach.</p>
        </li>
      </ol>
    </li>
    <li>
      <p>This notice shall be governed by and construed in accordance with English laws.</p>
    </li>
  </ol>

  <p style="color: #990000;">Yours faithfully,</p>
  <br>
  <br>


  <p style="color: #990000;">........................</p>

  <p style="color: #990000;">for and on behalf of <br>
    AGRIFIELDS DMCC
  </p>

  <p style="color: #990000;">[<i>On acknowledgement copy</i>]</p>

  <p style="color: #990000;">To: ICICI BANK LIMITED (DIFC BRANCH), as Assignee <br>
    [<i>Address</i>]</p>

  <p style="color: #990000;">Copy to: ______________ as Assignor</p>

  <p style="color: #990000;">We acknowledge receipt of the above notice and agree to and confirm the matters set out in
    it.</p>

  <br>
  <br>
  <br>

  <p style="color: #990000;">........................</p>

  <p style="color: #990000;">for and on behalf of<br>
    [<i>Counterparty to relevant Parent LC</i>]</p>

  <p style="color: #990000;">Date: </p>

</body>

</html>