<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LC</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 10pt;">
  <p>&nbsp;</p>
  <table style="width:100%; border-collapse:collapse;border:none; margin-top: 25px;">
    <tr>
      <td style="width:50%; vertical-align:top; text-align:left; border:none; padding:5px;">
        <img src="https://test.istakapaza.com/users/image?item=newblob1753095306189" width="140" height="40" /><br>
        TEL: +971 4 2766391<br>
        FAX: +971 4 2766032<br>
        EMAIL: naj@agrifields.com
      </td>

      <td style="width:50%; vertical-align:top; text-align:right; border:none; padding:5px;">
        <strong>AGRIFIELDS DMCC</strong><br>
        JBC 4, UNIT 3201, CLUSTER N<br>
        JUMEIRAH LAKE TOWERS<br>
        DUBAI. <strong>U.A.E.</strong>
      </td>
    </tr>

    <tr>
      <td style="width:50%; vertical-align:top; text-align:left; border:none; padding:5px;">
      </td>
      <td style="color: rgb(147, 16, 16); width:50%; vertical-align:top; text-align:right; border:none; padding:5px;">
        Schedule 2
      </td>
    </tr>
  </table>

  <h2 style="color: rgb(147, 16, 16);text-align: center; font-size: 16pt; margin-top: 9.5px;">Utilisation Request –
    Letters of Credit</h2>

  <p style="color: rgb(147, 16, 16);">From: Agrifields DMCC </p>

  <p style="color: rgb(147, 16, 16);">To: Axis Bank Limited, DIFC Branch. as Lender </p>

  <p style="color: rgb(147, 16, 16);">Dated: [24th Feb 2025]</p>

  <p style="color: rgb(147, 16, 16);">Dear Sirs</p>

  <p style="color: rgb(147, 16, 16);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agrifields
    DMCC - USD 35,000,000 Facility Agreement
    dated [01.07.2024] ref no. AXIB/DIFC/ADV/088/2024-25 as amended from time to time (the "Agreement")</p>

  <ol style="color: rgb(147, 16, 16);">
    <li>
      <p>We refer to the Agreement. This is a Utilisation Request. Terms defined in the Agreement have the same meaning
        in this Utilisation Request unless given a different meaning in this Utilisation Request.</p>
    </li>
    <li>
      <p>We wish to arrange for a Letter of Credit be issued by the Lender specified below on the following terms:
      <table>
        <tr>
          <td>Lender:</td>
          <td>[Axis Bank, DIFC, Dubai, UAE ]</td>
        </tr>
        <tr>
          <td>Proposed Utilisation Date:</td>
          <td>[24.02.2025]</td>
        </tr>
        <tr>
          <td>Currency of Letter of Credit:</td>
          <td>[USD]</td>
        </tr>
        <tr>
          <td>Amount:</td>
          <td style="color: #230dea;">[{{importLC.amount}} ({{importLC.toleranceSign}} {{importLC.tolerancePercentage}}%)] </td>
        </tr>
        <tr>
          <td>Beneficiary:</td>
          <td style="color: #230dea;">{{importLC.beneficiary}}</td>
        </tr>
        <tr>
          <td>L/C Expiry Date:</td>
          <td style="color: #230dea;">[20.03.2025]</td>
        </tr>
      </table>
      </p>
    </li>

    <li>
      <p>We confirm that each condition specified in Clause is satisfied on the date of this Utilisation Request.</p>
    </li>
    <li>
      <p>We attach a copy of the proposed Letter of Credit and the Export LC.</p>
    </li>
    <li>
      <p>The purpose of the proposed Letter of Credit is [ Import of Goods ].</p>
    </li>
    <li>
      <p>The Letter of Credit shall be subject to the Uniform Customs and Practice for Documentary Credits (2007
        Revision, ICC Publication No.600) and/or International Standby Practice 1998 (ISP 98), whichever is applicable,
        as may be amended from time to time.</p>
    </li>
    <li>
      <p>This Utilisation Request is irrevocable.</p>
    </li>
    <li>
      <p>By Swift and please debit our current a/c no. 912020200001984 for LC issuance charges.</p>
    </li>
  </ol>
  <p style="color: rgb(147, 16, 16);">Yours faithfully</p>
  <br>
  <br>

  <p style="color: rgb(147, 16, 16);">......................................<br>
    Authorised signatory<br>
    For Agrifields DMCC
  </p>
</body>

</html>